body, html {
    height: 100%;
  }
  h1{
    margin-right: 230px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg{
    background-image:url(langimage.jpg);
  
    min-height:380 px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  
  div{
    margin: 200px  50px 100px 1050px ;
  }
  
  
  .container {
    
    
    margin:20px;
    
    width:300px;
    padding: 16px;
    background-color: white;
  }
  
  
  .input-field{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
 .input-field{ background-color: #ddddddf6;
  outline: none;
 }
  
  
  
  .button {
    background-color:#254E58;
    color: #ffffff;
    padding: 16px 20px;
    border: #f8f5f5;
    cursor: pointer;
    width:100%;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
  }
  
  .button:hover {
    opacity: 1;
  }
  